# --- NVR CREDENTIALS ---------------------------------------------------------
NVR_USER=yourusernamehere
NVR_PASS=yourpasswordhere
NVR_TPLINK_PASS=yourpasswordhere

# --- MICROSOFT GRAPH (mail.py) -----------------------------------------------
TENANT_ID=yourtenanthere
CLIENT_ID=yourclient_idhere
CLIENT_SECRET=yourclient_secrethere
SENDER_EMAIL=yoursenderemailhere
RECIPIENT=yourreceiveremailhere